<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Exclusive Products | HOME</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body class="contact-bkg" id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="index">Exclusive Products</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#aboutus">About</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="catalouge">Catalouge</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="order">Order</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <style>
            .img-container {
              text-align: center;
            }
          </style>
        </head>
        
          <div class="img-container"> <!-- Block parent element -->
            <img src="../public/css/img/exp-logo.png" style="height:155px; width:255px;" alt="Exclusive Products">
          </div>
        
        <br>


        <!--<section class="page-section bg-" id="about">
            <div class="container">
              <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <select name="Filter" id="Filter">
                            <option value="Filter By">Filter By</option>
                            <option value="Car Cleaning Products">Car Cleaning Products</option>
                            <option value="Janitorial Supplies">Janitorial Supplies</option>
                            <option value="Power Wash Equipment">Power Wash Equipment</option>
                            <option value="Paper Products">Paper Products</option>
                            <option value="PPE">PPE</option>
                            <option value="Winter Products">Winter Products</option>
                            <option value="Vacuum Products">Vacuum Products</option>
                            <option value="Compressor and Accessories">Compressor and Accessories</option>
                            </select>
                    </div>
                </div>
            </div>
        </section>-->
        <section class="page-section" id="about">
          <div class="container">
            <div class="row justify-content-center">
        <div class="dropdown">
            <button class="dropbtn">Filter By: </button>
            <div class="dropdown-content">
              <a href="carcleaningproducts">Car Cleaning Products</a>
              <a href="janitorialsupplies">Janitorial Supplies</a>
              <a href="powerwashequipment">Power Wash Equipment</a>
              <a href="paperproducts">Paper Products</a>
              <a href="ppe">PPE</a>
              <a href="winterproducts">Winter Products</a>
              <a href="vacuumproducts">Vacuum Products</a>
              <a href="compressorandaccessories">Compressor and Accessoriess</a>
            </div>
          </div>
         
        </section>
        <h2 class="text-center">Janitorial Supplies</h2>

      

        <!-- Page Content -->
<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="2milgarbagebags"><img src="../public/css/img/2mil Garbage Bags.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">2mil Garbage Bags</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="18floorsqueege"><img src="../public/css/img/18_ Foam Floor Squeege.png "style="height:155px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">18" Foam Floor Squeege</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="18pushbroom"><img src="../public/css/img/18_ Push Broom.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">18" Push Broom</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="22x24garbagebags"><img src="../public/css/img/22x24 Garbage Bags.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">22x24 Garbage Bags</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>

  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="dial-soap-dispenser"><img src="../public/css/img/Dial Soap Dispencer.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Dial Soap Dispencer</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="fibreglass-handle"><img src="../public/css/img/Fibreglass Handle (Threaded).png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Fibreglass Handle (Threaded)</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="garbage-dolly"><img src="../public/css/img/Garbage Dolly.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Garbage Dolly</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="car-wash-with-wax-LOWpH"><img src="../public/css/img/Car Wash with Wax (Low ph) (1).png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Car Wash with Wax (Low pH)</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="gojo-foam-hand-wash"><img src="../public/css/img/Gojo Foam Handwash.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Gojo Foam Handwash</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="gojo-touchless-dispencer"><img src="../public/css/img/Gojo Touchless Dispencer.png" style="height:155px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Gojo Touchless Dispencer</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="hoop-scoop-dust-pan"><img src="../public/css/img/Hoop Scoop Dust Pan.png" style="height:155px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Hoop Scoop Dust Pan</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="jumbo-toilet-tissue-dispencer"><img src="../public/css/img/Jumbo Toilet Tissue Dispencer.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Jumbo Toilet Tissue Dispencer</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="lysol-wipes"><img src="../public/css/img/Lysol Wipes.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lysol Wipes</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="microfibre-mop-head"><img src="../public/css/img/Microfiber Mop Head.JPG" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Microfiber Mop Head</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="mop-bucket-ringer"><img src="../public/css/img/Mop, Bucket and Ringer.jpg" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Mop, Bucket and Ringer</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="mop-handle"><img src="../public/css/img/Mop Handle.jpg" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Mop Handle</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="rags"><img src="../public/css/img/Rags.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Rags</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="step-and-go-mop-handle"><img src="../public/css/img/Step and Go Mop Handle.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Step and Go Mop Handle</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="tapered-wooden-handle"><img src="../public/css/img/Tapered Wooden Handle.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Tapered Wooden Handle</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <a href="waste-basket"><img src="../public/css/img/Waste Basket.png" style="height:179px; width:255px;" class="card-img-top" alt="..."></a>
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Waste Basket</h5>
            <div class="card-text text-black-50">$9.99</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>


      <!-- Team Member 4 -->
      
    <!-- /.row -->
  
  </div>
  <section class="page-section" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="pagination">
          <a href="#">&laquo;</a>
          <a href="catalouge">1</a>
          
          <a href="#">&raquo;</a>
        </div>
  </div>
  </div>
  </section>
       


        <!-- Contact-->
        <section class="page-section bg-light" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contact Us</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">At Exclusive Products, We are more than happy to assist you with any questions or concerns you may have! Contact us <a href="contact.html">HERE</a> using our contact form</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-black py-5">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Exclusive Products || Site By <a href="https://piersolutions.ca">Pier Solutions</a></div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
