<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    
    <form action="register" method="POST">
        <div>
            <label for="name">Name</label>
            <input class="form-control"type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="Email">Email</label>
            <input type="Email" id="Email" name="Email" required>
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="Password" id="Password" name="Password" required>
        </div>
        <div>
            <label for="Password2">Confirm Password</label>
            <input type="Password" id="Password2" name="Password2" required>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>